{
  "trigger": "MQTTTrigger",
  "triggerargs": { "server": "firehose.openstack.org",
                   "topic": "gerrit/+/+/change-merged" },
  "mapper": "InConfigMapper",
  "mapperargs": { "openstack/nova": "openstack/nova" }
}
